body{
    background-color: black;
    
}
h1{
    color: white;
    text-align: center;
    padding-top: 200px;
}
.info{
    color: white;
    text-align: center;
}
.bio{
    color: white;
    text-align: center;
}
.button{
    text-align: center;
    top: 50%;

}
.but{
    text-align: center;
    font-size: medium;
}
